body {
    background-image: url('./css_img/hintergrund.png');
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    margin: 0;
}
.sidebar{
    height: 100vh;
    width: 250px; /* margin-left des .main .content anpassen! */
    background: linear-gradient(45deg, rgb(206, 206, 206), rgb(242, 242, 242));
    top: 0;
    left: 0;
    position: fixed;
    transition: all 1s ease;
}

body.active .sidebar{
    left: -250px;
}

body.active .content{
    margin-left: 0;
    width: 100%;
}

.sidebar-logo-container{

    padding: 10px 15px;

}
.nav-list{
    list-style-type: none;
    padding: 0 10px; 
    margin: 0 10px;
}
.nav-item{
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    margin: 15px 0;
}

.nav-item:hover{
    background: rgb(0, 0, 0, 0.05);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
    cursor: pointer;
}
.nav-item.active{
    background: rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
    cursor: pointer;
}
.nav-link{
    text-decoration: none;
    color: black;
}

.sidebar-toggle-bttn{
    background: rgba(255, 255, 255);
    box-shadow: 0 0padding 0.4em rgb(255, 255, 255, 0.2);
    z-index: 999;
    border-radius: 50px;
    margin: 10px 10px 10px 10px;
}
.sidebar-toggle-bttn:hover{
    color: #009e3d;
}


.content{
    margin-left: 280px; /* Abhängig von der Breite der Sidebar und dem sidebar-toggle (Burger) */ 
    background-image: 'css_img/hintergrund.png';
}
.card-M{
    width: 200px;
    height: auto;
    margin: 10px;
}